<div class="row">
    <div class="col-md-8 mx-auto">
      <%= form_for [:admin, @post] do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :content %>
          <%= f.text_area :content, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :photo %>
          <%= f.file_field :photo, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit  class: 'btn btn-success form-control' %>
        </div>
      <% end %>
    </div>
  </div>
